Projects/CXF-Web-Services/CXF_SoapFaults/WebContent/wsdl/employeeinfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EmployeeInfoService" targetNamespace="http://server.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://server.com/" schemaLocation="employeeinfo_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="addEmployeeResponse">
    <wsdl:part name="parameters" element="tns:addEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployeesResponse">
    <wsdl:part name="parameters" element="tns:getEmployeesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployeeResponse">
    <wsdl:part name="parameters" element="tns:getEmployeeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployees">
    <wsdl:part name="parameters" element="tns:getEmployees">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployee">
    <wsdl:part name="parameters" element="tns:getEmployee">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addEmployee">
    <wsdl:part name="parameters" element="tns:addEmployee">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeInfo">
    <wsdl:operation name="getEmployees">
      <wsdl:input name="getEmployees" message="tns:getEmployees">
    </wsdl:input>
      <wsdl:output name="getEmployeesResponse" message="tns:getEmployeesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployee">
      <wsdl:input name="getEmployee" message="tns:getEmployee">
    </wsdl:input>
      <wsdl:output name="getEmployeeResponse" message="tns:getEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <wsdl:input name="addEmployee" message="tns:addEmployee">
    </wsdl:input>
      <wsdl:output name="addEmployeeResponse" message="tns:addEmployeeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeInfoServiceSoapBinding" type="tns:EmployeeInfo">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEmployees">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEmployees">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmployeesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployee">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEmployee">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addEmployee">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addEmployeeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeInfoService">
    <wsdl:port name="EmployeeInfoPort" binding="tns:EmployeeInfoServiceSoapBinding">
      <soap:address location="http://localhost:8080/CXF_SoapFaults/services/EmployeeInfoPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
