Projects/CXF-Web-Services/MultiServices/WebContent/wsdl/mybase_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.com/" elementFormDefault="unqualified" targetNamespace="http://server.com/" version="1.0">
<xs:element name="getAccountBalance" type="tns:getAccountBalance"/>
<xs:element name="getAccountBalanceResponse" type="tns:getAccountBalanceResponse"/>
<xs:complexType name="getAccountBalance">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAccountBalanceResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
